*{
    margin: 0;
}
header, footer{
    height: 20vh;
    background: #D9D9D9;
}
div{
    height: 60vh;
    display: flex;
}
.left{
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: column;
}
.box{
    height: 33.33%;
    width: 100%;
    background: #979796;
}
.cen{
    height: 33.33%;
    width: 100%;
    background: #BABAB9;
}
.bot{
    height: 33.33%;
    width: 100%;
    background: #979796;
}
.main{
    height: 100%;
    width: 33.33vw;
    background: #61615C;
}
.right{
    height: 100%;
    width: 33.33vw;
    display: flex;
    flex-direction: column;
}
.top{
    height: 50%;
    width: 100%;
    background: #78786F;
}
.bottom{
    height: 50%;
    width: 100%;
    background: #828569;
}